.box{
    background-color: blue;
    padding: 10px;
}
p{
    color: yellow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#outer-box{
    /* border: 8px solid red; */
    background-color: purple;

}
.white-text{
    color: white;
    /* background-color: red; */
    padding: 12px;
}
.inner-box{
    background-color: red;
}