table{
  width: 100%;
}
td{
  border: 10px solid white;
}
.col1{
  width: 25%;
  background-color: aqua;
}
.col2{
  width: 25%;
  background-color: aqua;

}
.col3{
  width: 25%;
  background-color: aqua;

}